* {
    font-family: open sans;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 0px;
}


.main-password {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg, rgba(2,0,36,1) 0%,
        rgba(9,9,121,1) 35%,
        rgba(0,212,255,1) 100%
    );

}

.main-password .form-login {
    height: 360px;
    background: white;
}


.main-password #main-image {
    width: 100px;
    margin-top: 20px;
}

.main-password #hr-top-left {
    width: 128px;
    left: 50px;
    top: -51px;
    position: relative;
    background-color: black;
    height: 3px;
    border: 0 none;
    border-radius: 5px;
}

.main-password #hr-top-right {
    width: 128px;
    right: -270px;
    top: -70px;
    position: relative;
    background-color: black;
    height: 3px;
    border: 0 none;
    border-radius: 5px;

}


.main-password .input {
    margin-top: -25px;
}

.main-password .email {
    border-radius: 5px;
    display: flex;
    margin-left: 55px;
    margin-top: -10px
}

.main-password .input .label-email-input {
    margin-top: 0px;
    margin-right: 290px;
    color: black;
}

.main-password .email .div-user-icon {
    width: 45px;
    border-bottom: solid 1px;
    border-color: rgb(194, 194, 194);
    border-radius: 0px 0px 0px 0px;
}
    
.main-password .email .div-user-icon #user-icon {
    margin-top: 10px;
    width: 30px;
    height: 29px;
}

.main-password .email #email-input {
    height: 50px;
    width: 300px;
    outline: 0;
    border: none;
    border-bottom: solid 1px;
    border-radius: 0px 0px 0px 0px;
    border-color: rgb(194, 194, 194);
    -webkit-box-shadow: none !important;
}


/*PASSWORD INPUT*/
.main-password .div-password {
    border: 1px;
    border-color: white;
    border-radius: 5px;
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 55px;
    margin-top: -65px;
}

.main-password .label-password-input {
    margin-right: 206px;
    color: white;
    margin-top: 10px;
}

.main-password .div-password .div-padlock-icon {
    width: 45px;
    border: none;
    border-radius: 0px 0px 0px 0px;
    border-bottom: solid 1px;
    border-color: rgb(194, 194, 194);
}

.main-password .div-password .div-padlock-icon #padlock-icon {
    margin-top: 5px;
    width: 30px;
    height: 29px;
}

.main-password .inputs .div-password #password-input {
    height: 50px;
    width: 300px;
    border-radius: 0px 0px 0px 0px;
    border: none;
    border-bottom: solid 1px;
    border-color: rgb(194, 194, 194);
    -webkit-box-shadow: none !important;
}


/*PASSWORD CONFIRMATION INPUT*/
.main-password .password-confirmation  {
    border: 1px;
    border-color: black;
    border-radius: 5px;
    display: flex;
    margin-left: 55px;
    margin-top: -5px;
}

.main-password .label-password-input-confirmation {
    margin-right: 180px;
    color: black;
    margin-top: 10px;
}

.main-password .password-confirmation .div-padlock-icon-confirmation  {
    width: 45px;
    border-bottom: solid 1px;
    border-color: rgb(194, 194, 194);
    border-radius: 0px 0px 0px 0px;
}

.main-password .password-confirmation .div-padlock-icon-confirmation  #padlock-icon-confirmation  {
    margin-top: 10px;
    width: 30px;
    height: 29px;
}

.main-password .password-confirmation #password-input-confirmation  {
    height: 50px;
    width: 300px;
    border-radius: 0px 0px 0px 0px;
    outline: 0;
    border: none;
    border-bottom: solid 1px;
    border-color: rgb(194, 194, 194);
    -webkit-box-shadow: none !important;
}


/*BUTTON*/
.main-password .enter-button {
    height: 60px;
    width: 345px;
    margin-top: 25px;
    border-radius: 5px;
    color: white;
    border: 0 none;
    font-size: 15px;
    background: linear-gradient(
        90deg, rgba(2,0,36,1) 0%,
        rgba(9,9,121,1) 35%,
        rgba(0,212,255,1) 100%
    );
}

/*LINKS*/
.main-password .link {
    width: 400px;
    margin-top: 20px;
    margin-left: 30px;
}

.main-password .link #link-register {
    margin-left: 145px;
    font-size: 15px;
    text-decoration:none;
    color: black;
    cursor: pointer;
}

.main-password .link #link-register:before {
    content: "";
    margin-top: 25px;
    position: absolute;
    width: 42%;
    height: 3px;
    background: linear-gradient(
        90deg, rgba(2,0,36,1) 0%,
        rgba(9,9,121,1) 35%,
        rgba(0,212,255,1) 100%
    );
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.main-password .link #link-register:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
}
